<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>

  <meta charset="utf-8" />

  <!-- Page Title -->
  <title>
    {{- block "title" . -}}
      {{ if eq .Kind "page" }}{{ .Title }}{{ else if isset .Site.Params "seotitle" }}{{ .Site.Params.seotitle }}{{ else }}{{ .Site.Title }}{{ end }}
    {{- end -}}
  </title>

  <!-- Shared Head -->
  {{ partial "head.html" . }}

  <!-- Polyfill for old browsers -->
  {{ partial "polyfill.html" . }}

</head>
  <body>
    {{ if ne .Kind "404" }}
    <div class="suspension">
      <a title="Go to top" class="to-top is-hide"><span class="icon icon-up"></span></a>
      {{ if and (eq .Type "post") (eq .Kind "page") }}
        {{ if .Site.Params.changyan }}
        <a title="Go to comments" class="to-comment" href="#SOHUCS"><span class="icon icon-comment"></span></a>
        {{ else if .Site.DisqusShortname }}
        <a title="Go to comments" class="to-comment" href="#disqus_thread"><span class="icon icon-comment"></span></a>
        {{ else }}{{ end }}
      {{ end }}
    </div>
    {{ end }}
    {{ block "main" . }}{{ end }}
  </body>
 {{ if (.Params.gitment) }}
<div id="git-comments"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
  var gitment = new Gitment({
    id: '{{ .Slug }}',  // 可选, 默认为 location.href
    owner: 'bingge1',
    repo: 'github.com/bingge1/gitment',
    oauth: {
      client_id: 'a30908dbebd6d9831d13',
      client_secret: 'e4ec88d0c5342b409a97e7a11a4032d98ef6eb14',
    }
  })
  gitment.render('git-comments')
</script>
{{ end }}
</html>
